* {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: 777777
}
h1 {
    background: #4aaaa5;
    color: #fff;
    width: 30%;
    padding: 25px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12;
    float: left
}

nav {
    float: right;
    width: 25%;
    padding: 25px;
    margin-top: 15px
}

h2 {
    float: left;
    color: #4aaaa5;
    margin: 20px
}

hr {
    margin: 20px
}

.body {
    background-color: gray;
    width: 960px;
    padding: 50px;
    margin: 20px;

    
}

img {
    width: 150px;
    height: 150px;
    float: left;
    padding: 10px
}

#messagebox {
    width: 960px;
    height: 250px
}

#submitbtn{
    width: 100px;
    height: 50px;
    background: #4aaaa5;
    color: #fff;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
.column img {
    margin-top: 12px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    font-family: Arial;
}
      
.text-block {
    position: absolute;
    background-color: black;
    color: white;
    width: 25%
    
}

.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
   padding: 25px;
   border: #4aaaa5
}
